<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>

   <proxies>
   <proxy>
      <id>HTTP</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>91.195.104.74"</host>
      <port>3128</port>
      <username></username>
      <password></password>
      <nonProxyHosts></nonProxyHosts>
    </proxy>
    <proxy>
      <id>HTTPS</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>91.195.104.74"</host>
      <port>3128</port>
      <username></username>
      <password></password>
      <nonProxyHosts></nonProxyHosts>
    </proxy>
  </proxies>

  
</settings>
